/* Common Reset */
/* Font */
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap");
* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  :focus,
  :active {
    outline: none;
  }
  html,
  body {
    height: 700px;
    min-width: 320px;
    font-size: 16px;
  }
  body {
    line-height: 1;
    /* font-family: "Space Grotesk", sans-serif; */
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  input,
  button,
  textarea {
    font-size: inherit;
    line-height: inherit;
  }
  button {
    color: inherit;
    background-color: #f9e802;

  }
  a {
    color: inherit;
    text-decoration: none;
  }
  ul li {
    list-style: none;
  }
  /* img {
    vertical-align: top;
  } */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: inherit;
    font-size: inherit;
  }
  
  /* Container */
  [class*="__container"] {
    width: 100vw;
    /* margin: 0 auto; */
    padding: 0 5vw;
    display: flex;
    /* justify-content: flex-start; */
    /* align-items: start; */
    /* flex-direction: column; */
    /* align-items: center; */

  }
  
  
  
  /* Common Blocks */
  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    width: 50%;
  }
  .intro img{
    width: 80%;

  
   
  }
  .title {
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: 500;
    line-height: 127.5%;
    position: relative;
    text-transform: capitalize;
    display: inline-flex;
    font-family: Space Grotesk;
    padding: 0 7px 0 7px;
  }
  .title::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 35px;
    width: 100px;
    height: 100px;

    z-index: -1;
    background-color: #f9e802;
    border-radius: 50%;
  }
  .text {
    font-size: 20px;
    /* line-height: 127%; */
    font-weight: 300;
  }
  .process {
    padding-bottom: 10vh;
    font-family: Space Grotesk;
  }
  
  .process__intro {
    margin-bottom: 80px;
  }
  
  .process__title {
    font-family: boris;
    flex-shrink: 0;
  }
  
  .process__text {
    color: #808080;
    width: 90%;
  }
  
  .accordions__list {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    /* width: 70%; */
  }
  
  .accordions__item {
    /* background-color: #f3f3f3; */
    border-radius: 2.8rem;
    overflow: hidden;
    transition: 0.5s cubic-bezier(0.65, 0.2, 0.65, 1);
    box-shadow: 0px 0.3125rem 0px 0px #191a23;
    border: 0.0625rem solid #191a23;
  }
  
  .accordions__control {
    display: flex;
    align-items: center;
    padding: 30px 30px;
    width: 100%;
    position: relative;
  }
  
  .accordions__number {
    font-size: 40px;
    font-family: Space Grotesk;
    padding-right: 1.5625rem;
    font-weight: 500;
  }
  
  .accordions__title {
    /* font-family: Space Grotesk; */
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    flex: 1 1 auto;
    display: flex;
    line-height: 120%;
    padding-right: 1.25rem;
    justify-content: flex-start;
    text-align: left;
  }
  
  .accordions__icon {
    /* flex: 0 0 58px;
    display: flex;
    width: 58px;
    height: 58px;
    background-color: #f3f3f3;
    border: 1px solid #191a23;
    border-radius: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.5s cubic-bezier(0.65, 0.2, 0.65, 1);
  }
  
  /* .accordions__icon::before {
    content: "";
    width: 1.5625rem;
    height: 0.3125rem;
    background-color: #191a23;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .accordions__icon::after {
    content: "";
    width: 1.5625rem;
    height: 0.3125rem;
    background-color: #191a23;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
  } */
  
  .accordions__content {
    padding: 0 60px 0 60px;
    max-height: 0;
    overflow: hidden;
    will-change: max-height;
    transition: 0.5s cubic-bezier(0.65, 0.2, 0.65, 1);
    box-sizing: content-box;
    position: relative;
    z-index: 5;
  }
  
  .open .accordions__content {
    /* min-height: 10vh; */
    padding: 2vh 60px 20vh;

  }
  .accordions__content p{
    font-size: 18px;
    line-height: 30px;
    text-align: left;
  }

  
  .open {
    background-color: rgb(243, 243, 243);
  }
  
  .open .accordions__icon {
    transform: rotate(225deg);
  }
  
@media (max-width: 900px){
  [class*="__container"] {
    width: 100vw;
    /* margin: 0 auto; */
    padding: 0 5vw;
    display: flex;
    /* justify-content: flex-start; */
    /* align-items: start; */
    flex-direction: column;
    /* align-items: center; */

  }
  .process__intro{
    width: 100%;
    margin-bottom: 30px;
  }
  .intro img{
    display: none;
  }
}