.homepage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: static;
    width: 100%;
    padding: 20vh 10vw 0vh 4vw;
    min-height:70vh ;
    z-index: 99;

    /* background-color: #EFEAE3; */
}
.homepage-left{
    width: 70%;
    height: 65vh;
    position: relative;
    display: flex;
    justify-content: flex-end;
    /* border: 2px solid red; */
   
}
.homepage-left img{
    height: 65vh;
    position: absolute;
   
    bottom: -2px;
    /* left: -100px; */
}
.homepage-right{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homepage-right h1{
    font-family: boris;
    font-size: 45px;
    text-align: center;
    font-weight: 200;
    margin: 0;
}
.homepage-right p{
    padding-top: 20px;
    font-weight: 100;
    text-align: justify;        

}
.homepage-buttons{
    font-weight: 200;
    display: flex;
    margin-top: 3vh;
  gap: 20px;
    padding-top: 20px;
}

.homepage-buttons-left{
    padding: 10px 20px;
    background-color: black;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 20px;
    justify-content: center;
    color: #EFEAE3;
    border-radius: 10px;
    transition: all 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.homepage-buttons-left a{
    font-size: 20px;
}
.homepage-buttons-left:hover{
    background-color: rgba(0, 0, 0, 0.929);
    /* cursor: pointer; */
    color: white;
   transition: all ease 0.2s;
   box-shadow: rgba(0, 0, 0, 0.196) 0px 3px 6px, rgba(0, 0, 0, 0.123) 0px 3px 6px;
}
.homepage-buttons-right{
    padding: 10px 20px;
    text-align: center;
    color: black;
    font-size: 20px;
  
    background-color: #f9e802;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: all 0.3s ease;
}
.homepage-buttons-right:hover{
    color: black;
    /* padding: 10px 20px; */
    /* cursor: pointer; */
    box-shadow: rgba(0, 0, 0, 0.196) 0px 3px 6px, rgba(0, 0, 0, 0.123) 0px 3px 6px;
  
    background-color: #d7c100;
    transition: all ease 0.2s;
    
}

.homepage-services{
    min-height: 30vh;
    background-color:#f9e802;
    display: flex;
    padding: 5vh 10vh;
    gap: 20px;
}
.homepage-services div {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    text-align: center;

}
.homepage-services div i{
  text-align: center;
  font-size: 40px;
  padding-bottom: 20px;
}
.homepage-services div h2{
    font-size: 20px;
    padding-bottom: 10px;
  }
.homepage-services div p{
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 10px;
    text-align: justify;
}