
.service-avail {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  background-image: url("../src/Images/s.jpg");
  color: #f9e802;
  display: flex;
  gap: 10vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10vw;
}
.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.848); /* Semi-transparent black overlay */
  z-index: 1; /* Positioned behind content */
}




.service-avail .logo {
  z-index: 100;
  color: white;
}
.service-avail-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  position: relative;
  top: 10px;
  z-index: 100;
}
.service-avail-text h2 {
  font-size: 8vh;
  font-family: boris;
  font-weight: 100;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 15px; */
}
.service-avail-text p {
  color: white;
  font-size: 3vh;
}
.service-avail-input {
  display: flex;
  gap: 0px;
  position: relative;
  right: 10px;
  z-index: 2;
}
.service-avail-input input {
  position: relative;
  right: -20px;
  padding: 10px;
  font-size: 16px;
  width: 0; /* Initially set to 0 */
  background-color: rgb(26, 26, 25);
  color: #f9e802;
  border-radius: 20px 5px 5px 20px;
  border: 2px solid #f9e802;
  border-right: none;
  transition: width 1s ease-out; /* Transition width change */
}

.service-avail-input input:focus {
  outline: none;
}

.service-avail-input button {
  /* padding: 10px 20px; */
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9e802;
  color: black;
  border-radius: 20px 20px 20px 20px;
  cursor: pointer;
  border: 2px solid #f9e802;
  z-index: 20;
  transition: all 0.3s ease;
}
button:hover {
  background-color: #c6b800;
}

.message {
  /* margin-top: 20px; */
  z-index: 2;
  font-size: 18px;
  /* color: red; */
}

@media (min-width: 600px) {
  .service-avail-text h2,
  .service-avail-text p {
    text-align: center;
  }
}

