@font-face {
    font-family: neu;
    src: url(./NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: neu;
    font-weight: 100;
    src: url(./NeueHaasDisplayLight.ttf);
}

@font-face {
    font-family: neu;
    font-weight: 200;
    src: url(./NeueHaasDisplayRoman.ttf);
}
@font-face {
    font-family: boris;
    font-weight: 200;
    src: url(./borisna.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: neu; 
    font-size: 1.5vw;
    cursor: none;
}
body{
    overflow-x: hidden;
}
.custom-cursor{
    height: 20px;
    width: 20px;
    background-color: rgba(255, 242, 0, 0.411);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.421);
    /* mix-blend-mode: difference; */
    position: absolute;
    pointer-events: none;
    top: 0;
    border: 2px solid black;
    border-radius: 50%;
    z-index: 101;
}

/* Styling the scrollbar itself */
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar (vertical) */
  height: 12px; /* Height of the scrollbar (horizontal) */
}
  
  /* Styling the track (background) */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.693); /* Light gray background for the track */
    /* border-radius: 10px;  */
}
  
  /* Styling the thumb (the draggable part) */
::-webkit-scrollbar-thumb {
    background: #f9e802; 
    border-radius: 10px; 
    height: 10px;
    /* width: 100px; */
    transition: all 0.3s ease;
}
  
  /* Hover effect on the thumb */
::-webkit-scrollbar-thumb:hover {
    background: #e6d700; /* Darker thumb color when hovered */
}
  
  /* Optional: You can style the horizontal scrollbar as well */
  ::-webkit-scrollbar-horizontal {
    height: 8px; /* Smaller horizontal scrollbar */
  }
  